//TEXTS
html,
body,
* {
  font-size: $fontSize;
  font-family: $fontFamily;
}

h1 {
  font-size: 3.429rem;
}

h2 {
  font-size: 2.143rem;
}

h3 {
  font-size: 1.714rem;
}

h4 {
  font-size: 1.286rem;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6 {
  font-size: 0.8571rem;
}

b {
  font-weight: 700;
}

p {
  font-size: 1rem;
}
